*{
    margin: 0px;
    padding: 0px;
}

#contenedor{
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(255,255,255);

}

header{
    height: 80px;
    background: rgb(214, 234, 248);
    margin-top: 10px;
    border-radius: 20px;

}

header h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 70px;
    color: black;

}