*{
    margin: 0px;
    padding: 0px;
}


#contenedor{
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
   
}

header{
    height: 80px;
    
    margin-top: 10px;
    border-radius: 20px;

}

header h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 70px;
    color: black;
}

nav{
    height: 60px;
    margin-top: 10px;
    
    
}

nav h3 a{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 130px;
    line-height: 50px;
    color: black;
}

#contenido{
    height: 450px;
    background:ghostwhite;
    margin-top: 10px;
}

#contenido img{
    float: left;
    width: 250px;
    height: 230px;
    margin-left: 20px;
    margin-top: 20px;
    
}

#contenido ul {
    float: left;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    font-size: 25px;
    
}


    

#contenido p{
    float: left;
    margin-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    text-align: center;
    margin-left: 275px;
    color: black;
}

#contenido h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


    



#contenido1{
    background-color: coral;
}
#contenido1 h1{
    font-size: 30px;
    color:antiquewhite;
    
    
}

#contenido1 h2{
    font-size: 20px;
}






.contenedorr p{
    font-size: 20px;
   
    color: black;

    border: 1px solid black;
    

    padding: 5px


}

.contenedorr {
    margin:5px
}


   