*{
    margin: 0px;
    padding: 0px;
}


#contenedor{
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: black;

}

header{
    height: 80px;
    background: red;
    margin-top: 10px;
    border-radius: 20px;

}

header h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    line-height: 70px;
    color: black;
}

nav{
    height: 60px;
    margin-top: 10px;
    background:red;
    border-radius: 20px;
}

nav h3 a{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 130px;
    line-height: 50px;
    color: black;
}

#contenido{
    height: 450px;
    background:ghostwhite;
    margin-top: 10px;
    border-radius: 20px;
}

#contenido img{
    float: left;
    width: 250px;
    height: 230px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

#contenido ul {
    float: left;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    font-size: 25px;

}

#contenido p{
    float: left;
    margin-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    margin-left: 275px;
    color: black;
}

#contenido h1{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    background-color: red;

}
footer a{
    color: black;
}






   